name: Python Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:  # This line adds the manual trigger option


jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}


    - name: Install GDAL binaries
      run: |
        sudo apt update && sudo apt install -y software-properties-common
        sudo add-apt-repository ppa:ubuntugis/ppa -y
        sudo apt update && sudo apt install -y gdal-bin libgdal-dev libgl1 libspatialindex-dev g++ libmysqlclient-dev
        echo "CPLUS_INCLUDE_PATH=/usr/include/gdal" >> $GITHUB_ENV
        echo "C_INCLUDE_PATH=/usr/include/gdal" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=/usr/local/lib" >> $GITHUB_ENV

    - name: Install Python packages
      run: |
        pip install -U pip setuptools wheel
        pip install numpy
        GDAL_VERSION=$(gdal-config --version | awk -F'[.]' '{print $1"."$2}')
        pip install GDAL==$GDAL_VERSION --no-cache-dir

    - name: Install GeoWombat
      run: |
        pip install "geowombat[perf,tests]@git+https://github.com/jgrss/geowombat.git"

    - name: Install xr_fresh
      run: |
        pip install "." 

    - name: Run Unittests
      run: |
        pip install testfixtures
        python -m unittest discover -s tests -p 'test_*.py'

    # Debug: Display Action Environment Variables
    - name: Print environment variables (Debug)
      run: printenv

    # Debug: List all files in the current directory (Debug)
    - name: List files in the current directory (Debug)
      run: ls -la
