name: Deploy Sphinx documentation to Pages

on:
  push:
    branches: [master] # branch to trigger deployment
  workflow_dispatch:  # This line adds the manual trigger option

jobs:
  pages:
    runs-on: ubuntu-20.04
    steps:
    - name: Install dependencies
      run: |
        python -m pip install -U sphinx
        python -m pip install sphinx-rtd-theme mathjax sphinxcontrib-napoleon numpydoc ipython
    - id: deployment
      uses: sphinx-notes/pages@v3
      with:
        publish: false
        documentation_path: './docs/source'
    - uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ${{ steps.deployment.outputs.artifact }}

# name: Deploy Sphinx documentation to Pages

# on:
#   push:
#     branches: [master] # branch to trigger deployment
#   workflow_dispatch:  # This line adds the manual trigger option

# jobs:
#   pages:
#     runs-on: ubuntu-20.04
#     environment:
#       name: github-pages
#       url: ${{ steps.deployment.outputs.page_url }}
#     permissions:
#       pages: write
#       id-token: write
#     steps:
#     # - name: Checkout code
#     #   uses: actions/checkout@v3

#     # - name: Set up Python
#     #   uses: actions/setup-python@v4
#     #   with:
#     #     python-version: '3.10'

#     # - name: Install GDAL binaries
#     #   run: |
#     #     sudo apt update && sudo apt install -y software-properties-common
#     #     sudo add-apt-repository ppa:ubuntugis/ppa -y
#     #     sudo apt update && sudo apt install -y gdal-bin libgdal-dev libgl1 libspatialindex-dev g++ libmysqlclient-dev
#     #     echo "CPLUS_INCLUDE_PATH=/usr/include/gdal" >> $GITHUB_ENV
#     #     echo "C_INCLUDE_PATH=/usr/include/gdal" >> $GITHUB_ENV
#     #     echo "LD_LIBRARY_PATH=/usr/local/lib" >> $GITHUB_ENV

#     # - name: Install Python packages
#     #   run: |
#     #     pip install -U pip setuptools wheel
#     #     pip install numpy
#     #     GDAL_VERSION=$(gdal-config --version | awk -F'[.]' '{print $1"."$2}')
#     #     pip install GDAL==$GDAL_VERSION --no-cache-dir

#     # - name: Install GeoWombat
#     #   run: |
#     #     pip install "geowombat[perf,tests]@git+https://github.com/jgrss/geowombat.git"

#     - name: Install dependencies
#       run: |
#         python -m pip install -U sphinx
#         python -m pip install sphinx-rtd-theme mathjax sphinxcontrib-napoleon numpydoc ipython
#   # python -m pip install -e .

#     - id: deployment
#       uses: sphinx-notes/pages@v3 
#       with:
#         documentation_path: './docs/source'
 